{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}

{% endif %}

{% if user.is_authenticated %}
You are loged in!
{% endif %}

<br />
<h1> Login </h1>
<form method="POST" action="{% url 'log-in' %}">

    {% csrf_token %}

    Phone Number:
    <br />
    <input type="text" name="phone" />
    <br />
    <br />
    Password:
    <br />
    <input type="password" name="password" />
    <br />
    <br />


    <input class="btn btn-primary" type="submit" value="Login!" />




</form>

{% endblock %}
