{% extends 'base.html' %}

{% block javascript %}



{% endblock %}

{% block content %}

<h1> Sign Up! </h1>

<div id="app">

<div v-if = "stat">
    <form id="signUpForm"  method="POST" novalidate>

        {% csrf_token %}
        
        <label for="phone">شماره تلفن همراه</label>
        <br />
        <input type="text" id="phone" required autocomplete="off"
            name="phone" v-model="phone" placeholder="09390065541" />

    </form>
    <div class="form-group mb-0 text-left mt-3">
        <button v-on:click="onSubmission" class="btn btn-primary" > تایید </button>
    </div>
</div>

<div v-else>
    اینجا برای ارسال پیامک میاد!
</div>

</div>

{% endblock %}

{% block script %}

<script type = "text/javascript">
    var signurl = "{% url 'new_signup' %}"
    new Vue({
        delimiters: ["[[", "]]"],
        el: "#app",
        data: {
            phone: "",
            stat: true
        },
        methods: {
            onSubmission: function () {
                let a = {
                    phone: this.phone
                };
                $.ajax({
                        url: signurl,
                        method: "POST",
                        data: JSON.stringify(a),
                        contentType: "application/json",
                        success: (data, status) => {
                            this.stat = !this.stat
                            
                        }
                })
            }
        }
    })
</script>


{% endblock %}