{% extends 'base.html' %}

{% block javascript %}

{% if task_id %}

<script>
  
var X = "{{ task_id }}"
var ul = "{% url 'mabna' %}"

function ajaxcall(){
  $.post(ul,
    data = {
      task_id: X,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    },
    function(data,status){
      $("#in12").html(data);
    });
}


$(document).ready(function(){
  setInterval(ajaxcall, 10000)
});


</script>

{% endif %}

{% endblock %}



{% block content %}

{% if error %}

{{ error }}

{% endif %}

<br />
<h1> Sign Up! </h1>
<form method="POST" action="{% url 'home' %}">

    {% csrf_token %}

    Username:
    <br />
    <input type="text" name="username" />
    <br />
    Phone:
    <br />
    <input type="text" name="phone" />
    <br />
    email:
    <br />
    <input type="text" name="email" />
    <br />
    <br />
    Password:
    <br />
    <input type="password" name="password1" />
    <br />
    <br />
    Confirm Password:
    <br />
    <input type="password" name="password2" />
    <br />
    <br />

    <input class="btn btn-primary" type="submit" value="Sign Up!" />




</form>
<br />
<br />
{% if task_id %}
<style>
  .borderexample {
   border-style:solid;
   border-color:#287EC7;
  }
</style>

<p id="in12" class="borderexample" >Your data base creation status!</p>
{% endif %}
{% endblock %}