<!doctype html>
<html lang="en">
<head>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% block javascript %}{% endblock %}
</head>

<header>
 
 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
  Reco
   </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <a class="nav-item nav-link" href="javascript:{document.getElementById('Logout').submit()}" onclick="">Logout</a>
      <form id="Logout" method="POST" action="{% url 'log-out' %}">
        {% csrf_token %}
        <input type="hidden" />
      </form>
      {% else %}
      <a class="nav-item nav-link active" href="{% url 'home' %}">Sign Up <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'log-in' %}">Login</a>
      {% endif %}
    </div>
  </div>
</div>
 </nav>

</header>


<body>

<div class="container">
{% block content %}

{% endblock %}
</div>


{% block script %}

{% endblock %}

<hr />
<footer class="text-muted">
  <div class="text-center">
    Have a Happy {% now "Y" %}
  <div />
</footer>


</body>


</html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
